<% layout('./layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">
        New Campground
    </h1>
    <div class="col-md-6 offset-md-3">
        <!-- yaha pe, in order to get the data in the form of files, url-encoded se encoding type change karni padhti to multipart/form-data -->
        <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Images: </label>
                <input type="file" name="image" id="image" multiple>
                <input type="text" class="form-control" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input name="campground[price]" id=" price" type="text" class="form-control" placeholder="0.00"
                        aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
                <a class="btn btn-primary" href="/campgrounds">All campgrounds</a>
            </div>
        </form>
    </div>
</div>